<!DOCTYPE html>
<html><head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://zeptojs.com/zepto.js"></script>
</head><body>

<div id="app">
    <p>{{pageid}}<p>
    <input v-model='pageid' placeholder='page id here'>
    <textarea v-model='pagedata' placeholder='page data here'></textarea>
    <button v-on:click='loadPage'>Load</button>
    <button v-on:click='savePage'>Save</button>
</div>

<script>
var vm = new Vue({
    el: '#app',
    data: {
        version: 10,
        pageid: 'start',
        pagedata: '...loading...',
        domain: 'http://192.168.0.23'
    },
    created: function() {
        console.log('vue up...');
        this.loadPage();
    },
    methods: {
        loadPage: function(event) {
            console.log('loading page ' + this.pageid);
            $.ajax({
                type: 'GET',
                url: this.domain + '/page/' + this.pageid,
                success: function(data) {
                    console.log('got page data:', data);
                    vm.pagedata = data;
                },
                error: function(xhr, type) {
                    console.log('load error:', type);
                    vm.pagedata = 'New page!';
                }
            });
        },
        savePage: function(event) {
            console.log('saving page ' + this.pageid);
            $.ajax({
                type: 'POST',
                url: this.domain + '/page/' + this.pageid,
                data: this.pagedata,
                success: function(data) {
                    console.log('posted page:', data);
                },
                error: function(xhr, type) {
                    console.log('post error:', type);
                }
            });
        }
    }
});
</script>
</body></html>
