<!DOCTYPE html>
<html><head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://zeptojs.com/zepto.js"></script>
</head><body>

<style type='text/css'>
body {
    font-family: Sans-Serif;
    color: white !important;
    background-color: darkslategray;
}
.footer {
    font-size: 10px;
    margin: 1em 0 0 0;
}
</style>

<div id="app">
    <h1>{{appname}}: {{pageid}}</h1>
    <div v-if='editing'>
        <input v-model='pageid' placeholder='page id here'>
        <textarea v-model='pagedata' placeholder='page data here'></textarea>
        <button v-on:click='cancelEdit'>discard changes</button>
        <button v-on:click='savePage'>save changes</button>
    </div>
    <div v-else>
        <pre>{{pagedata}}</pre>
        <button v-on:click='editPage'>edit this page</button>
        <button v-on:click='gotoPage'>go to another page</button>
        <button v-on:click='newPage'>create a new page</button>
    </div>
    <div id='footer' class='footer'>
        <span>{{appname}} &copy; 2019 by Bill Roy</span>
    </div>
</div>

<script>
var vm = new Vue({
    el: '#app',
    data: {
        appname: 'wikidrop',
        pageid: 'start',
        pagedata: '...loading...',
        saved_pagedata: '',
        editing: 0,
        domain: 'http://192.168.0.23'
    },
    created: function() {
        console.log('vue up....');
        var url = new URL(document.location.href);
        var urlpage = url.searchParams.get('pageid');
        if (urlpage != null) this.pageid = urlpage;
        this.fetchPage();
    },
    methods: {
        editPage: function(event) {
            this.saved_pagedata = this.pagedata;
            this.editing = 1;
        },
        cancelEdit: function(event) {
            this.pagedata = this.saved_pagedata;
            this.saved_pagedata = '';
            this.editing = 0;
        },
        newPage: function(event) {
            var pageid = prompt('Page to create:')
            if (!pageid) return;
            this.pageid = pageid;
            console.log('new page ' + this.pageid);
            this.pagedata = '';
            this.saved_pagedata = '';
            this.editing = 1;
        },
        gotoPage: function() {
            var pageid = prompt('Page to load:')
            if (!pageid) return;
            this.pageid = pageid;
            this.fetchPage();
        },
        fetchPage: function() {
            console.log('fetching page ' + this.pageid);
            this.pagedata = '...loading...';
            $.ajax({
                type: 'GET',
                url: this.domain + '/page/' + this.pageid,
                success: function(data) {
                    console.log('got page data:', data);
                    vm.pagedata = data;
                },
                error: function(xhr, type) {
                    console.log('load error:', type);
                    vm.pagedata = 'New page!';
                }
            });
        },
        savePage: function(event) {
            console.log('saving page ' + this.pageid);
            $.ajax({
                type: 'POST',
                url: this.domain + '/page/' + this.pageid,
                data: this.pagedata,
                success: function(data) {
                    console.log('posted page:', data);
                    vm.saved_pagedata = '';
                    vm.editing = 0;
                },
                error: function(xhr, type) {
                    console.log('post error:', type);
                }
            });
        }
    }
});
</script>
</body></html>
